<!-- BEGIN CONTAINER -->
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="Search..." />

                    <input type="button" class="submit" value=" " />

                </div>

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>



        <li class="start active ">

            <a href="/admin">

                <i class="icon-home"></i>

                <span class="title">控制台</span>

                <span class="selected"></span>

            </a>

        </li>

        <li class="">

            <a href="javascript:;">

                <i class="icon-briefcase"></i>

                <span class="title">文章管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="/admin/briefcase_add">
                        发布新文章</a>

                </li>

                <li >

                    <a href="/admin/briefcase_list">

                        文章列表</a>

                </li>

            </ul>

        </li>

        <li class="">

            <a href="javascript:;">

                <i class="icon-file-text"></i>

                <span class="title">大脑风暴</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="#">

                        发布风暴</a>

                </li>

                <li >

                    <a href="#">

                        风暴管理</a>

                </li>

            </ul>

        </li>

        <li class="">

            <a href="">

                <i class="icon-table"></i>

                <span class="title">评论管理</span>



            </a>


        </li>



        <li>

            <a class="active" href="javascript:;">

                <i class="icon-sitemap"></i>

                <span class="title">会员管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a href="#">

                        会员列表

                    </a>

                </li>

                <li>

                    <a href="#">

                        新增会员


                    </a>



                </li>



            </ul>

        </li>







    </ul>

    <!-- END SIDEBAR MENU -->

</div>